@import "reset.css";

html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

#wrapper {
  background-color: #094AB2;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

#options_panel {
  background-color: #2E8DEF;
  bottom: 0;
  position: absolute;
  right: -350px;
  top: 0;
  width: 350px;
  z-index: 9999;
}

.show_options {
  right: 0;
}

#slides_panel {
  height: 480px;
  left: 0;
  position: fixed;
  top: 0;
  width: 640px;
}

#slides_panel iframe {
  height: 100%;
  width: 100%;
}

#webcam_panel {
  bottom: 0;
  height: 240px;
  position: fixed;
  right: 0;
  width: 320px;
}

video#webcam {
  height: auto !important;
  width: 100% !important;
}

.ui-icon, .ui-resizable-s, .ui-resizable-e, .ui-icon-gripsmall-diagonal-se {
  display: none;
}

.ui-resizable-se {
  background: transparent url('../images/resize.gif') no-repeat bottom right;
  bottom: 0;
  height: 12px;
  margin: 2px;
  position: absolute;
  right: 0;
  width: 12px;
}

.ui-resizable-helper {
  outline: 1px auto gray;
}
